.idea
PLStateMachine.xcworkspace/xcuserdata/antoni.xcuserdatad
PLStateMachine/PLStateMachine.xcodeproj/xcuserdata/antoni.xcuserdatad
PLStateMachine/PLStateMachine.xcodeproj/project.xcworkspace/xcuserdata/antoni.xcuserdatad
TicToc/TicToc.xcodeproj/xcuserdata/antoni.xcuserdatad
